<!DOCTYPE html>
<html lang="en">
<!--<head>--><head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="minimal-ui, width=device-width, height=device-height, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
  <meta name="theme-color" content="#ff2b00" />
  <meta name="keywords" content="ComBat, ComBat.io, ComBatio, MooMoo.io, Taming.io, Sploop.io, Lostworld.io, iogames, .iogames, io, .io, 2d game, survival" />
  <meta name="description" content="A game where you can collect resources, compete against other players, and get the highest score on the leaderboards!" />
  <!-- <meta name="robots" content="index, follow"> -->
  <!-- <meta name="googlebot" content="index, follow"> -->
  <!-- <meta name="revisit-after" content="14 days"> -->
  <title>ComBat.io - The new .IO Game!</title>
  <meta property="og:image" content="https://cdn.glitch.global/069d62dd-5ac4-4928-9200-7250f0cc75c3/ComBat.io.png?v=1657391740707" />
  <link id="favicon" rel="icon" href="https://cdn.glitch.global/069d62dd-5ac4-4928-9200-7250f0cc75c3/Favicon.png?v=1662344798646" type="image/x-icon" />
  <link rel="stylesheet" href="/main.css" />
  <script src="https://rawgit.com/kawanet/msgpack-lite/master/dist/msgpack.min.js" defer></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://forkaweso.me/Fork-Awesome/assets/fork-awesome/css/fork-awesome.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Hammersmith+One" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>
<body>
  <div class="backgroundImg" id="backgroundImg"></div>

  <div class="errorPageContainer">
    <div class="notFound">
      <h1 class="headerText">4<img src="https://cdn.glitch.global/069d62dd-5ac4-4928-9200-7250f0cc75c3/TeleportPad.gif?v=1661022375708" alt="0" class="img" />4</h1>
      <p class="text">
        Looks like you have lost your way back.
      </p>
      <p class="text">
        The page you are looking for does not exist!
      </p>

      <!-- onclick="history.go(-1); return false;" -->
      <a class="link" onclick="const backButton = document.getElementById('backButton'); if (window.history.length === undefined) { backButton.addEventListener('click', () => { history.go(-1); return false; }); } else { window.location.href = 'https://kvb63w-8000.preview.csb.app/'; }" id="backButton">
        <div class="">
          Go back to game <span class="arrow material-icons md-24"></span>
        </div>
      </a>
    </div>
  </div>
  <!-- <script src="/error.js"></script> -->
</body>
</html>