<!DOCTYPE html>
<html lang="en">
<!--<head>--><head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="minimal-ui, width=device-width, height=device-height, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
  <meta name="theme-color" content="#1d9300" />
  <!-- <meta name="color-scheme" content="light dark" /> -->
  <meta name="keywords" content="ComBat, ComBat.io, ComBatio, MooMoo.io, Taming.io, Sploop.io, Lostworld.io, iogames, .iogames, io, .io, 2d game, survival" />
  <meta name="description" content="A game where you can collect resources, compete against other players, and get the highest score on the leaderboards!" />
  <!-- <meta name="robots" content="index, follow"> -->
  <!-- <meta name="googlebot" content="index, follow"> -->
  <!-- <meta name="revisit-after" content="14 days"> -->
  <title>ComBat.io - The new .IO Game!</title>
  <meta property="og:image" content="https://cdn.glitch.global/069d62dd-5ac4-4928-9200-7250f0cc75c3/ComBat.io.png?v=1657391740707" />
  <link id="favicon" rel="icon" href="https://cdn.glitch.global/069d62dd-5ac4-4928-9200-7250f0cc75c3/Favicon.png?v=1662344798646" type="image/x-icon" />
  <link rel="stylesheet" href="/style.css" />
  <script src="https://rawgit.com/kawanet/msgpack-lite/master/dist/msgpack.min.js" defer></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://forkaweso.me/Fork-Awesome/assets/fork-awesome/css/fork-awesome.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Hammersmith+One" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
</head>
<body>
  <canvas id="gameCanvas"></canvas>

  <div class="backgroundImg" id="backgroundImg"></div>

  <div class="accountSettingsModal" id="accountSettingsDiv">
    <div class="accountSettingsContainer" >
      <div class="accountProfile" >
        <img src="https://media.discordapp.net/attachments/991433838851018782/1037562305686278155/Polish_20221101_155949848.jpg" />
        <div class="accountUsernameText" id="Username">
          Unknown
        </div>

        <div class="accountInfoContainer" >
          <div class="accountInfo" >
            <div class="playerRank" >
              Rank: <span id="PlayerRank"
                >1</span>
            </div>
            <div >
              Gold high score: <span id="PlayerGold">1M</span>
            </div>
            <div >
              Players Destroyed: <span >1,000</span>
            </div>
          </div>
        </div>

        <div class="accountZoneContainer" >
          <br class="accountZone" info-text1="Customize Your Account" />
          <label class="customizeUsername"> <div style="font-weight: bold;margin-bottom: 8px;" class="menuHeader">Change Username</div>
                <input class="nameInput" type="text" placeholder="New Username" maxlength="15" required/>
                <div onclick="L(0);" style="width: 45%;margin-bottom: 30px;background: #48e346;" class="menuButton">
                  <span>Confirm</span>
                </div>            
              </label>
              <label class="customizeUsername"> <div style="font-weight: bold;margin-bottom: 8px;" class="menuHeader">Change password</div>
                <input class="nameInput" type="text" placeholder="New Password" maxlength="15" required/>
                <div onclick="L(1);" style="width: 45%;background: #48e346;" class="menuButton">
                <span>Confirm</span>
              </div>
            </label>
            <div class="confirmationPopUp" id="confirmPopUp">
              <!-- <div class=".confirmationPopUpContainer" id=""> -->
              <div class="confirmationText" id="confirmationText">
                Confirm your password!
              </div>
              <input type="text" placeholder="Enter current password to verify." class="accountPasswordInput" id="accountPasswordInput" required />
              <button type="submit" value="Submit" class="submitChangesBtn" id="">Submit</button>
              <!-- </div> -->
              <i class="confirmationPopUpCloseIcon" id="popUpCloseIcon">&times;</i>
            </div>
        </div>

        <div class="dangerZoneContainer" >
          <br class="dangerZone" info-text2="Danger Zone" />
          <div onclick="F();" style="width: 60%; background: #ff601f;" class="menuButton">
            <span>Log Out</span>
          </div>
          <div onclick="L();" style="width: 60%; background: #e5391f;" class="menuButton">
            <span>Delete Account</span>
          </div>
          <!-- <a  class="forgetPassword"><span>Forget Password</span></a> -->
        </div>
      </div>
    </div>
    <i class="accountModalCloseIcon" id="modalCloseIcon">&times;</i>
  </div>

  <div class="errorContainer" id="close">
    <span id="errorText" class="errorText">Error: This account is not available</span>
    <i class="close" id="closeIcon">&times;</i>
  </div>

  <div class="deathContainer">
    <div class="deathText" id="randomDeathText">
      You died
    </div>
  </div>

  <div class="leaderboardScores" id="leaderboardDisplay">
    <div id="mainSections">
      <a id="chatBtn">
        <span class="icons material-icons md-36 md-light">&#xE8AF;</span>
      </a>
      <a id="shopBtn">
        <span class="icon2 material-icons md-36 md-light">&#xE8D1;</span>
      </a>
      <a id="teamBtn">
        <span class="icons material-icons md-36 md-light">&#xE7EF;</span>
      </a>
    </div>
    <br /><br /><br />
    <div id="leaderboard">
      <div id="title">
        Leaderboard
      </div>
      <div id="players"></div>
    </div>
    <!-- KILLS COUNTER -->
    <div class="killDisplay" >
      <!-- <br /> -->
      <div class="playersKilled">
        <span class="killCounter" id="kills">0</span>
        <img src="https://media.discordapp.net/attachments/833392447161237504/1002007556555808808/1658967594806.webp" alt="" class="skullImg" />
      </div>
    </div>
    <div class="playerContainter">
      <div class="playerName">
        Player Name
      </div>
      <a id="playerAcceptBtn">
        <span class="acceptIcon material-icons md-30">&#xE5CA;</span>
      </a>
      <a id="playerDeclineBtn">
        <span class="declineIcon material-icons md-30">&#xE5CD;</span>
      </a>
    </div>
  </div>

  <div class="itemShopContainer" id="toggleShop">
    <div class="sectionContainer">
      <div class="sectionBtn1" id="itemsSection">
        <a class="sectionTitle">Hats</a>
      </div>
      <div class="sectionBtn2" id="powerupsSection">
        <a class="sectionTitle">Accessories</a>
      </div>
    </div>
    <div class="itemShopSection" id="itemsShop">
      <div class="itemContainer">
        <div id="HatItems0"></div>
      </div>
      <div class="itemContainer">
        <div id="HatItems1"></div>
      </div>
      <div class="itemContainer">
        <div id="HatItems2"></div>
      </div>
      <div class="itemContainer">
        <div id="HatItems3"></div>
      </div>
      <div class="itemContainer">
        <div id="HatItems4"></div>
      </div>
      <div class="itemContainer">
        <div id="HatItems5"></div>
      </div>
      <div class="itemContainer">
        <div id="HatItems6"></div>
      </div>
      <div class="itemContainer">
        <div id="HatItems7"></div>
      </div>
    </div>
    <div class="itemPowerupsSection" id="powerupsShop">
      <div class="itemContainer">
        <div id="AccessoriesGear0"></div>
      </div>
      <div class="itemContainer">
        <div id="AccessoriesGear1"></div>
      </div>
    </div>
  </div>

  <div class="mainTeamContainer" id="toggleTeam">
    <div class="teamSection" id="teamsSection">
      <div id="teamContainer" class="teamContainer">
        <div class="teamInfo">
          <div class="teamName">
            Error.
          </div>
          <a class="joinTeamBtn">Join</a>
        </div>
        <br /><br />
        <div class="teamsText" >
          There are no clans yet!
        </div>
      </div>
    </div>
    <div class="teamSectionContainer">
      <input class="sectionInput" id="clanInput" type="text" maxlength="7" placeholder="Clan Name" />
      <div class="sectionBtn2" id="createClanSection">
        <a class="sectionTitle">Create</a>
      </div>
    </div>
    <div class="memberSection" id="membersSection">
      <div id="memberContainer" class="memberContainer">
        <div class="membersInfo">
          <!-- <a class="kickMemberBtn">Kick</a> -->
        </div>
        <div class="membersText" >
          There are no members in the clan yet!
        </div>
      </div>
    </div>
    <div class="teamSectionContainer">
      <div class="sectionBtn1" id="viewClanChatSection">
        <a class="sectionTitle">View Chat Log</a>
      </div>
      <div class="sectionBtn2" id="leaveClanSection">
        <a class="sectionTitle">Leave</a>
      </div>
    </div>
  </div>

  <!-- RESOURCES AND MAP -->
  <div class="resourcesAndMapDisplay" id="resourcesAndMap">
    <br />
    <div class="resources">
      <span class="resourcesCounter" id="ruby">0</span>
      <img src="https://cdn.glitch.global/069d62dd-5ac4-4928-9200-7250f0cc75c3/RUBY.png?v=1658978333539" alt="" class="resourcesImg" />
    </div>

    <br />
    <div class="resources">
      <span class="resourcesCounter" id="gold">0</span>
      <img src="https://cdn.glitch.global/069d62dd-5ac4-4928-9200-7250f0cc75c3/Gold.png?v=1658847400405" alt="" class="resourcesImg" />
    </div>

    <br />
    <div class="resources">
      <span class="resourcesCounter" id="stone">0</span>
      <img src="https://cdn.glitch.global/069d62dd-5ac4-4928-9200-7250f0cc75c3/Stone.png?v=1658803298574" alt="" class="resourcesImg" />
    </div>

    <br />
    <div class="resources">
      <span class="resourcesCounter" id="tree">0</span>
      <img src="https://cdn.glitch.global/069d62dd-5ac4-4928-9200-7250f0cc75c3/Tree.png?v=1657488613978" alt="" class="resourcesImg" />
    </div>

    <br />
    <div class="resources">
      <span class="resourcesCounter" id="bush">0</span>
      <img src="https://cdn.glitch.global/069d62dd-5ac4-4928-9200-7250f0cc75c3/Bush.png?v=1657678351614" alt="" class="resourcesImg" />
    </div>

    <br />
    <div class="map" id="miniMap">
      <span class="playerLocation" id="playerLocation"></span>
      <span class="playerDeathLocation" id="playerDeathLocation"></span>
      <span class="playerBaseLocation" id="playerBaseLocation"></span>
    </div>
  </div>

  <!-- <div id="miniMap"></div> -->

  <div class="itemDetailsContainer">
    <span class="itemNameDetails" id="itemNameDetails">Item Name</span>
    <br /><span class="itemDetails" id="itemDetails">Item Details</span>
    <br />
    <div id="stoneReqDisplay" class="itemResourcesNeeded">
      Stone x<span id="Stone">0</span>
    </div>
    <br />
    <div id="woodReqDisplay" class="itemResourcesNeeded">
      Wood x<span id="Wood">0</span>
    </div>
    <br />
    <div id="foodReqDisplay" class="itemResourcesNeeded">
      Food x<span id="Food">0</span>
    </div>
    <br /><span class="itemLimit">0/0</span>
  </div>

  <div class="hatNameContainer">
    <span class="hatNameDetails" id="hatNameDetails">Item Name</span>
    <br /><span class="hatDetails" id="hatDetails">Item Details</span>
  </div>

  <div id="interface">
    <div id="ageLevelItems">
      <div id="age-item-0" class="ageLevelItem" style="background-image: url('https://cdn.glitch.global/069d62dd-5ac4-4928-9200-7250f0cc75c3/Short_Sword_2%5B1%5D.png?v=1661730319761');"></div>
      <div class="ageItemSelectText">
        Select Items
        <div class="ageItemSelectCounter" id="ageItemSelectCounter">
          (1)
        </div>
      </div>
    </div>
    <div class="ageBar" id="ageBar">
      <div class="ageText">
        Age
        <div class="ageCounter" id="ageCounter">
          1
        </div>
      </div>
      <div class="ageProgressBar">
        <div class="ageLevelBar" id="ageLevelBar"></div>
      </div>
    </div>
    <div id="hotbar">
      <div id="h-item-0" class="hotbarItem" style="background-image: url('https://cdn.glitch.global/069d62dd-5ac4-4928-9200-7250f0cc75c3/Hammer_Tool.png?v=1661566949950');"></div>
      <div id="h-item-1" class="hotbarItem" style="background-image: url('https://cdn.glitch.global/069d62dd-5ac4-4928-9200-7250f0cc75c3/Orange.png?v=1657474721358');"></div>
      <div id="h-item-2" class="hotbarItem" style="background-image: url('https://cdn.glitch.global/069d62dd-5ac4-4928-9200-7250f0cc75c3/Spike.png?v=1660858039547');"></div>
      <div id="h-item-3" class="hotbarItem" style="background-image: url('https://cdn.glitch.global/069d62dd-5ac4-4928-9200-7250f0cc75c3/WoodWall.png?v=1660858007447');"></div>
      <div id="h-item-4" class="hotbarItem" style="background-image: url('https://cdn.glitch.global/069d62dd-5ac4-4928-9200-7250f0cc75c3/BoostPad.png?v=1660927567508');"></div>
      <div id="h-item-5" class="hotbarItem" style="background-image: url('https://cdn.glitch.global/069d62dd-5ac4-4928-9200-7250f0cc75c3/PitTrap.png?v=1660869010254');"></div>
      <div id="h-item-6" class="hotbarItem" style="background-image: url('https://cdn.glitch.global/069d62dd-5ac4-4928-9200-7250f0cc75c3/TeleportPad.gif?v=1661022375708');"></div>
      <div id="h-item-7" class="hotbarItem"></div>
      <div id="h-item-8" class="hotbarItem"></div>
      <div id="h-item-9" class="hotbarItem"></div>
      <div id="h-item-10" class="hotbarItem"></div>
    </div>
    <input id="chatbox" type="text" maxlength="30" placeholder="Enter Message" />
  </div>
  <!-- <div id="mainMenu" style="display: none;"> -->
  <!-- <div id="container"> -->
  <!-- <div id="accounts"> -->
  <!-- <div id="box"> -->
  <!-- This is a box. -->
  <!-- </div> -->
  <!-- </div> -->
  <!-- <div id="game"> -->
  <!-- <br /> -->
  <!-- <input type="text" id="nameInput" placeholder="Enter Your Name" maxlength="15" /> -->
  <!-- <button id="enterGame">Play Game</button> -->
  <!-- </div> -->
  <!-- <div id="ad"></div> -->
  <!-- </div> -->
  <!-- </div> -->
  <!-- GAME CONTAINER -->
  <div id="mainMenu">
    <div id="menuContainer">
      <!-- GAME NAME -->
      <div id="gameName">
        ComBat.io
      </div>
      <!-- LOADING TEXT -->
      <div id="loadingText" style="display: none">
        Connecting...
      </div>
      <!-- MENU CARDS -->
      <div id="menuCardHolder" style="display: block">
        <!-- <div class="menuCard" id="adCard"> -->
        <!-- <div align="center" id="moomooio_300x250_1" name="moomooio_300x250_1" data-google-query-id="CPHA8q2asPACFZlI4AodLFwAIQ"> -->
        <!-- <div id="google_ads_iframe_/15184186/moomooio_300x250_1_0__container__" style="border: 0pt none; width: 300px; height: 250px;"> -->
        <!-- </div> -->
        <!-- </div> -->
        <!-- </div> -->
        <div style="display: inline-block">
          <div class="menuCard" id="setupCard">
            <input type="text" id="nameInput" class="nameInput" placeholder="Username" maxlength="15" style="cursor: not-allowed;" disabled="disabled" />
            <div id="enterGame" class="menuButton">
              <span>Enter Game</span>
            </div>
            <div id="accountSettings" style="background:#99e51f;" class="menuButton">
              <span id="accountSettingsText">Open Account Settings</span>
            </div>
          </div>
          <div id="promoImgHolder" class="menuCard">
            <h3>ComBat.io</h3>
          </div>
        </div>
        <!-- <div id="LeaderboardsContainer"> -->
        <!-- <a id="LeaderboardsLink" target="blank_">Leaderboards</a> -->
        <!-- </div> -->
        <div class="settingsCard" id="rightCardHolder">
          <div class="menuCard" id="guideCard">
            <div class="menuHeader">
              Gamemodes
            </div>
            <div class="gamemodes">
              <a href="https://kvb63w-8000.preview.csb.app/" class="gamemodesLink" id="normalMode">Normal</a>
              <span class="separator-dot"></span>
              <a href="#" class="gamemodesLink" id="sandboxMode">Sandbox</a>
              <span class="separator-dot"></span>
              <a href="#" class="gamemodesLink" id="survivalMode">Survival</a>
            </div>
            <div class="menuHeader">
              Servers
            </div>
            <select id="serverBrowser">
              <option>Server 1</option>
              <option>Server 2</option>
            </select>
            <div class="menuHeader" style="margin-top: 10px">
              How To Play
            </div>
            <div class="menuText">
              Gather resources and build your base or fight with other players
              to get higher on leaderboard!
            </div>
            <div class="menuHeader">
              Controls
            </div>
            <div id="desktopInstructions" class="menuText">
              Movement: W, A, S, D<br />
              Look: Mouse<br />
              Gather/Attack: Mouse or Space - [E] AutoHit<br />
              Select Item: 1-9 or Click<br />
              Quick Select Food: Q<br />
              Chat: Enter Key<br />
              Mark Current Location: V<br />
            </div>
            <div id="mobileInstructions" class="menuText"></div>
            <div class="menuHeader">
              Select Skin
            </div>
            <div class="skins-list" style="text-align: left">
              <div class="skin color-tan" onclick="selectSkinColor(0)" id="skin1"></div>
              <div class="skin color-brown" onclick="selectSkinColor(1)" id="skin2"></div>
              <div class="skin color-white" onclick="selectSkinColor(2)" id="skin3"></div>
              <div class="skin color-black" onclick="selectSkinColor(3)" id="skin4"></div>
              <div class="skin color-carnation-pink" onclick="selectSkinColor(4)" id="skin5"></div>
              <div class="skin color-emerald-green" onclick="selectSkinColor(5)" id="skin6"></div>
              <div class="skin color-witch-haze" onclick="selectSkinColor(6)" id="skin7"></div>
              <div class="skin color-malibu" onclick="selectSkinColor(7)" id="skin8"></div>
            </div>
            <div class="menuHeader">
              Audio &amp; Utilities
            </div>
            <div>
              <label class="checkbox">
                <input type="checkbox" id="sound" />
                <span class="indicator"></span>
                Mute Music
              </label>
              <!-- <br /> --><label class="checkbox">
                <input type="checkbox"  />
                <span class="indicator"></span>
                Show Ping
              </label>
            </div>
            <div id="smallLinks">
              <div class="menuHeader">
                Links
              </div>
              <div class="menuText">
                <a href="/Version" target="_blank" class="menuLink">1.1.4</a>
                <span class="vertical-line"></span>
                <a href="https://discord.gg/BhUj2KThXJ" target="_blank" class="discordLink">Discord</a>
                <span class="vertical-line"></span>
                <a href="/Terms" target="_blank" class="menuLink">Terms</a>
                <span class="vertical-line"></span>
                <a href="/Privacy" target="_blank" class="menuLink">Privacy</a>
              </div>
            </div>
          </div>
        </div>
        <div class="accountContainer">
          <div class="accountSectionContainer" id="accountSectionContainer">
            <div class="accountSectionBtn1" id="loginSection">
              <a class="accountSectionTitle">Login</a>
            </div>
            <div class="accountSectionBtn2" id="registerSection">
              <a class="accountSectionTitle">Register</a>
            </div>
          </div>
          <div id="loginCard">
            <form onsubmit="return K();" method="post" name="form1" class="form1">
              <label class="textLabel" for="username"><b>Enter Username:</b></label>
              <input class="inputLabel1" type="text" placeholder="" name="username" required />
              <br class="hiddenFromMobile" /><br
              class="hiddenFromMobile"
              /><label class="textLabel" for="psw"
                ><b>Enter Password:</b></label>
              <input class="inputLabel1 password1" type="password" placeholder="" name="psw" required />
              <i class="bi bi-eye-slash togglePassword1"></i>
              <br /><button class="buttonLabel1" type="submit">Login</button>
              <br /><br />
              <div class="checkboxLabel">
                <label class="checkbox">
                  <input type="checkbox" />
                  <span class="indicator"></span>
                  Remember Me
                </label>
              </div>
            </form>
          </div>
          <div id="registerCard">
            <form onsubmit="return H();" method="post" name="form2" class="form2">
              <label class="textLabel" for="username"><b>Enter Username:</b></label>
              <input class="inputLabel2" type="text" placeholder="" name="username" required />
              <br class="hiddenFromMobile" /><br
              class="hiddenFromMobile"
              /><label class="textLabel" for="psw"
                ><b>Enter Password:</b></label>
              <input class="inputLabel2 password2" type="password" placeholder="" name="psw" required />
              <i class="bi bi-eye-slash togglePassword2"></i>
              <br class="hiddenFromMobile" /><br
              class="hiddenFromMobile"
              /><label class="textLabel" for="psw2"
                ><b>Confirm Password:</b></label>
              <input class="inputLabel3 password3" type="password" placeholder="" name="psw2" required />
              <i class="bi bi-eye-slash togglePassword3"></i>
              <span id="loading"></span>
              <br /><button class="buttonLabel2" type="submit">Register</button>
            </form>
          </div>
        </div>
      </div>
      <!-- <div id="downloadButtonContainer" class="menuCard"> -->
      <!-- <a class="downloadBadge" href="https://itunes.apple.com/us/app/moomoo-io-mobile/id1236581367?ls=1&mt=8" target="_blank"><img src="./img/badges/ios.svg" /></a> -->
      <!-- <a class="downloadBadge" href="https://play.google.com/store/apps/details?id=com.yendis.moomoo_mobile" target="_blank"><img src="./img/badges/android.png" /></a> -->
      <!-- </div> -->
    </div>
    <div class="hidden" id="settingsButton">
      <a class="settingsText changeText" id="toggleSettings">Open Settings</a>
    </div>
    <div class="" id="loginButton">
      <a class="loginText" id="toggleLogin">Open Login Form</a>
    </div>
    <div class="" id="leaderboardsButton">
      <a class="leaderboardsText"  href="https://kvb63w-8000.preview.csb.app/leaderboards">Go To Leaderboards</a>
    </div>
    <div>
      <div id="YTofDayContainer">
        <a id="YTofDay" target="blank_">Error.</a>
      </div>
      <!-- LINKS CONTAINERS -->
      <div id="linksContainer2" style="background-color: rgba(0, 0, 0, 0.25)">
        <a href="/Version" target="_blank" class="menuLink">1.1.4</a>
        <span class="vertical-line"></span>
        <a href="https://discord.gg/BhUj2KThXJ" target="_blank" class="discordLink">Discord</a>
        <span class="vertical-line"></span>
        <a href="/Terms" target="_blank" class="menuLink">Terms</a>
        <span class="vertical-line"></span>
        <a href="/Privacy" target="_blank" class="menuLink">Privacy</a>
      </div>
    </div>
  </div>  
  <script src="/bundle.js"></script>
  <script>
    function K() {
      //login to account
      let r = {
        "username": document.forms.form1.username.value,
        "password": document.forms.form1.psw.value,
        "url": "login"
      };
      fetch("/data", {
        headers: {
          Accept: 'application.json',
          'Content-Type': 'application/json'
        },
        method: "post",
        body: JSON.stringify(r)
      }).then((e) => {
        if (e.status == 401) {
          document.getElementById("errorText").innerHTML = "Password or username incorrect."; t(1);
        } else if (e.status == 200) {
          localStorage.setItem("username", document.forms.form1.username.value);
          localStorage.setItem("name", document.forms.form1.username.value);
          localStorage.setItem("password", document.forms.form1.psw.value);
          document.getElementById("errorText").innerHTML = "Logged in, enter game."; t(0);
        } else if (e.status == 505) {
          document.getElementById("errorText").innerHTML = "Unknown error."; t(1);
        } else {
          document.getElementById("errorText").innerHTML = "Network error..."; t(1);
        }
        document.getElementById("close").style.display = "block";
        document.getElementById("errorText").style.display = "inline-block";
        document.getElementById("close").style.opacity = 1;
      }).catch((err) => {
        alert(err);
      });
    }
    function J() {
      //delete an account
      let r = {
        "username": localStorage.getItem("username"),
        "password": localStorage.getItem("password"),
        "verification": (function () {
          try {
            return document.forms.form3.verify.value
          } catch {
            return "h"
          }})(),
        "url": "delete"
      };
      fetch("/data",
        {
          headers: {
            Accept: 'application.json',
            'Content-Type': 'application/json'
          },
          method: "post",
          body: JSON.stringify(r)
        }).then((e) => {
          if (e.status == 401) {
            document.getElementById("errorText").innerHTML = "Can not delete account because you are not logged in."; t(1);
          } else if (e.status == 402) {
            document.getElementById("errorText").innerHTML = "Please verify that you would like to delete."; t(1);
          } else if (e.status == 200) {
            document.getElementById("errorText").innerHTML = "Account deleted."; t(0);
            localStorage.setItem("username", "");
            localStorage.setItem("name", "");
            localStorage.setItem("password", "");
          } else if (e.status == 505) {
            document.getElementById("errorText").innerHTML = "Unknown error."; t(1);
          } else {
            document.getElementById("errorText").innerHTML = "Network error..."; t(1);
          }
          document.getElementById("close").style.display = "block";
          document.getElementById("errorText").style.display = "inline-block";
          document.getElementById("close").style.opacity = 1;
        }).catch((err) => {
          alert(err);
        });
    }
    function F() {
      //log out of an account
      let r = {
        "username": localStorage.getItem("username"),
        "password": localStorage.getItem("password"),
        "url": "logout"
      };
      fetch("/data",
        {
          headers: {
            Accept: 'application.json',
            'Content-Type': 'application/json'
          },
          method: "post",
          body: JSON.stringify(r)
        }).then((e) => {
          if (e.status == 401) {
            document.getElementById("errorText").innerHTML = "Can not log you out because you are not logged in."; t(1);
          } else if (e.status == 200) {
            document.getElementById("errorText").innerHTML = "Logged out"; t(0);
            localStorage.setItem("username", "");
            localStorage.setItem("name", "");
            localStorage.setItem("password", "");
          } else if (e.status == 505) {
            document.getElementById("errorText").innerHTML = "Unknown error."; t(1);
          } else {
            document.getElementById("errorText").innerHTML = "Network error..."; t(1);
          }
          document.getElementById("close").style.display = "block";
          document.getElementById("errorText").style.display = "inline-block";
          document.getElementById("close").style.opacity = 1;
        }).catch((err) => {
          alert(err);
        });
    }
    function H() {
      //make a NEW account
      document.getElementById("loading").innerHTML = "Loading...";
      let r = {
        "username": document.forms.form2.username.value,
        "password": document.forms.form2.psw.value,
        "password2": document.forms.form2.psw2.value,
        "url": "create"
      };
      fetch("/data",
        {
          headers: {
            Accept: 'application.json',
            'Content-Type': 'application/json'
          },
          method: "post",
          body: JSON.stringify(r)
        }).then((e) => {
          if (e.status == 200) {
            document.getElementById("errorText").innerHTML = "Account created."; t(0);
            setTimeout(() => {
              document.getElementById("errorText").innerHTML = 'Please log in, using "Login" tab below.'; t(0);
            }, 1000);
          } else if (e.status == 401) {
            document.getElementById("errorText").innerHTML = "Username taken"; t(1);
          } else if (e.status == 402) {
            document.getElementById("errorText").innerHTML = "Invalid character, use A-Z, 0-9"; t(1);
          } else if (e.status == 403) {
            document.getElementById("errorText").innerHTML = "Passwords don't match"; t(1);
          } else if (e.status == 404) {
            document.getElementById("errorText").innerHTML = "Your account may not have more than 15 characters."; t(1);
          } else if (e.status == 505) {
            document.getElementById("errorText").innerHTML = "Unknown error."; t(1);
          } else {
            document.getElementById("errorText").innerHTML = "Network error..."; t(1);
          }
          document.getElementById("close").style.display = "block";
          document.getElementById("errorText").style.display = "inline-block";
          document.getElementById("close").style.opacity = 1;
        }).catch((err) => {
          alert(err);
        });
      return false;
    }
    function t(num) {
      if (num === 1) {
        document.getElementById("close").style.backgroundColor = "#f65454";
        document.getElementById("close").style.borderColor = "#e03535";
      } else {
        document.getElementById("close").style.backgroundColor = "black";
        document.getElementById("close").style.borderColor = "lightgreen";
      }
    }
  </script>
</body>
</html>